services:
  postgres:
    image: postgres:15.3-alpine
    container_name: financial-system-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_HOST_PORT}:${POSTGRES_INTERNAL_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - shared_network

  redis:
    image: redis:latest
    container_name: financial-system-redis
    restart: always
    command: 
      - redis-server
      - --requirepass
      - ${REDIS_PASSWORD}
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "${REDIS_HOST_PORT}:${REDIS_INTERNAL_PORT}"
    volumes:
      - redis-data:/data
    networks:
      - shared_network

volumes:
  pgdata:
  redis-data:

networks:
  shared_network:
    driver: bridge
